# Adapted from OCI provider documentation
# aws_source_id = {{ aws_source_id }}
resource "oci_load_balancer_path_route_set" "{{ label }}" {
  load_balancer_id = {{ load_balancer_id }}
  name             = "{{ name }}"

{% for route in path_routes %}
  path_routes {
    path             = "{{ route.path_string }}"
    backend_set_name = {{ route.backend_set_name }}
    path_match_type {
      match_type = "{{ route.match_type | default('EXACT_MATCH') }}"
    }
  }

{% endfor %}
}
