# Adapted from oci-vault-kms/main.tf
# aws_source_id = {{ aws_source_id }}
resource "oci_kms_key" "{{ label }}" {
  compartment_id      = {{ compartment_id }}
  display_name        = "{{ display_name }}"
  management_endpoint = {{ management_endpoint }}
  protection_mode     = "{{ protection_mode }}"

  key_shape {
    algorithm = "{{ key_shape.algorithm }}"
    length    = {{ key_shape.length }}
  }

{% if freeform_tags is defined and freeform_tags %}
  freeform_tags = {
{% for key, value in freeform_tags.items() %}
    {{ key }} = "{{ value }}"
{% endfor %}
  }
{% endif %}
}
